@import "font.scss";
@import "variables.scss";
@import "blocks/animations.scss";
@import "blocks/header.scss";
@import "blocks/main-nav.scss";
@import "blocks/startup.scss";
@import "blocks/btn.scss";

html {
  font-family: 'Gotham';
  font-weight: 400;
  font-size: 17px;
}

body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
}

a {
  text-decoration: none;
}