.development {
  padding: 50px 0;
}

.development__inner {
  margin: 0 auto;
  width: $width;
}

.development__header {
  display: flex;
  align-items: flex-start;
}

.development__heading {
  font-size: 45px;
  margin: 0 5px 0 0;
}

.development__emphasis {
  font-style: normal;
  background: #f8555a;
  color: white;
  padding: 5px 15px;
  transform: skewX(-10deg);
  text-align: center;
}