mixin design
  section.design
    .design__inner
      h1.design__title Дизайн-приколы
      .design__content
        .design__willdo Сделаем
        #design-widget-root
        .design__willdowhat Дизайн

    script(type="text/babel" src="/js/design-widget.js")