mixin development
  section.development
    .development__inner
      header.development__header
        h2.development__heading Разработка на заказ
        em.development__emphasis Долго, дорого, пиздато
      .development__content
        h3.development__catch Хочешь быть успешным?
        p.development__text Сожалеем.
          br 
          |  Но, раз уж так, то мы готовы взяться за любые твои хотелки.
          |  Приложения для доставки туалетной бумаги, справочники ветеринаров,
          |  Стартапы про котлеты – мы повидали всякое и готовы сделать всё в лучшем виде.
          |  Специализируемся на веб- и мобильной разработке.
        h3.development__catch Используемые технологии:
        p.development__emphasis тебя ебать не должно бля