mixin header
  header.main-header
    nav.main-nav
      div.main-nav__inner
        ul.main-nav__list
          li.main-nav__element.main-nav__element--logo
            a.main-nav__link(href="#top") еф
          li.main-nav__element
            a.main-nav__link(href="#") Дизайн-приколы
          li.main-nav__element
            a.main-nav__link(href="#") Репы
          li.main-nav__element
            a.main-nav__link(href="#") Стартапим
    .main-header__inner
      .main-header__info
        h1.main-header__title Ебучий фронтенд
        p.main-header__description Метамемы каждый день, кидайте бабки на стартап
        a.main-header__action(href="#" title="Ну чисто пацанам на пиво ебать") Кинуть бабки
      .main-header__picture
        img(src="img/man.png" alt="fuckedupjs" width="300" height="300")
