mixin startup
  section.startup
    .startup__inner
        .startup__content
          .startup__description
            h2.startup__heading Стартапим
            em.startup__emphasis Пока ты отдыхаешь
            p.startup__text Мы – молодые, но амбициозные предприниматели.
              |  Пока ты смотришь ютуб или пытаешься выпросить нудесы у той-самой-нетакой-как-все,
              |  мы арендуем коворкинги и реализуем успешные проекты на своих макбуках 2018 года, попивая флэт-уайт. 
            p.startup__text Кстати, мы этой твоей дамочке пальцы в пизду пихали. 
              | Прямо вот не отмывая их от крошек круассанов за 500 рубасов из буше взяли и засунули. Так вкуснее :)
              |  Завидуешь? Чешутся руки набить нам ебальники? 
              br
              br
              b Мы только за. Наши контакты в самом низу лэндинга. Придумывай текст для дисса, обсос.
            button.btn.startup__btn Написать реп и тупо подраца
          img.startup__picture(width="400" height="500" src="img/startup__apps.png")